<div class="question-wrapper">

  <li class="question card {{#ifEquals type 'yn'}}yn{{/ifEquals}}{{#ifEquals type 'range'}}range{{/ifEquals}}{{#ifEquals type 'quality'}}quality{{/ifEquals}}{{#ifEquals type 'open'}}open{{/ifEquals}}">

    <div class="card-header">

      <div class="question-options d-flex flex-row justify-content-end align-items-center">

        <div class="form-group">
          <span class="oi oi-move"></span>
        </div>

        <div class="form-group">

          <div class="form-check">
            <input class="required form-check-input" type="checkbox" name="required" value=true {{#if required}}checked{{/if}}>
            <label class="form-check-label" for="required">Required</label>
          </div>
            <!--
            <div class="custom-control custom-checkbox form-chec">
              <input type="checkbox" class="custom-control-input required" id="required-checkbox-{{@index}}" name="required" value=true {{#if required}}checked{{/if}}>
              <label class="custom-control-label" for="required-checkbox-{{@index}}">Required</label>
            </div>
          -->
        </div>

        <div class="form-group">
          <div class="remove-question-btn"><span class="oi oi-trash"></span></div>
        </div>

      </div> <!-- /.question-options -->

    </div> <!-- /.card-header -->
    <div class="card-body">

    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="title" rows="2" style="width: 100%" required>{{title}}</textarea>
      </div>
    </div>

    <div class="form-group row">

      <label for="type" class="col-sm-2 col-form-label">Type</label>
      <div class="col-sm-6">
        <select name="type" required class="question-type-field form-control custom-select">
          <option disabled selected value> -- Select a question type -- </option>
          <option value="yn" {{#ifEquals type 'yn'}}selected{{/ifEquals}}>Yes/No</option>
          <option value="range" {{#ifEquals type 'range'}}selected{{/ifEquals}}>Multiple Choice - Range</option>
          <option value="quality" {{#ifEquals type 'quality'}}selected{{/ifEquals}}>Multiple Choice - Quality</option>
          <option value="open" {{#ifEquals type 'open'}}selected{{/ifEquals}}>Open Response</option>
        </select>
      </div>
    </div>

    <div class="mc-choices-container form-group row">
      {{#ifNotEquals type 'open'}}
      <label for="choices" class="col-sm-2 col-form-label">Choices</label>
      <div class="col-sm-4 col-5 mc-choices">
        <!-- Load choices and choice levels here -->
        {{#each choices}}
          <div class="form-group">
            <input name="choices" type="text" class="form-control" value="{{this.choice}}" readonly>
          </div>
        {{/each}}
      </div> <!-- /.mc-choices -->

      <div class="col-sm-6 col-7 mc-choice-levels">
        <!-- Corresponding level choices -->
        {{#each choices}}
          <div class="form-group">
            <select name="choiceLevels" class="form-control custom-select" required>
              <option value="" disabled> -- Point Distribution -- </option>
              <option value="0" {{#ifEquals this.level "0"}}selected{{/ifEquals}}>0 points or N/A</option>
              <option value="1" {{#ifEquals this.level "1"}}selected{{/ifEquals}}>Point for lvl 1</option>
              <option value="2" {{#ifEquals this.level "2"}}selected{{/ifEquals}}>Point for lvl 2</option>
              <option value="3" {{#ifEquals this.level "3"}}selected{{/ifEquals}}>Point for lvl 3</option>
              <option value="lock1" {{#ifEquals this.level "lock1"}}selected{{/ifEquals}}>Lock out of lvl 1</option>
              <option value="lock2" {{#ifEquals this.level "lock2"}}selected{{/ifEquals}}>Lock out of lvl 2</option>
              <option value="lock3" {{#ifEquals this.level "lock3"}}selected{{/ifEquals}}>Lock out of lvl 3</option>
            </select>
          </div>
        {{/each}}
      </div>
      {{/ifNotEquals}}
    </div> <!-- /.mc-choices-container -->

  </div> <!-- /card-body -->

  </li> <!-- /.question -->

</div> <!-- /.question-wrapper -->
