<div class="question-wrapper">

  <li class="list-group-item question {{#if yn}}yn{{/if}}{{#if mc}}mc{{/if}}{{#if open}}open{{/if}}">

    <div class="question-options">
      <button type="button" class="remove-question-btn btn btn-danger btn-sm"><span class="oi oi-trash"></span></button>

      <div class="form-group">
        <div class="required-container form-check">
          <input class="required form-check-input" type="checkbox" name="required" value=true {{#if required}}checked{{/if}}>
          <label class="form-check-label" for="required">Required</label>
          <input class="not-required" type="hidden" name="required" value=false>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">Question</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="title" rows="3" style="width: 100%" required>{{title}}</textarea>
      </div>
    </div>

    <div class="form-group row">

      <label for="type" class="col-sm-2 col-form-label">Type</label>
      <div class="col-sm-6">
        <select name="type" required class="question-type-field form-control">
          <option disabled> -- Select a question type -- </option>
          <option value="yn" {{#if yn}}selected{{/if}}>Yes/No</option>
          <option value="mc" {{#if mc}}selected{{/if}}>Multiple Choice</option>
          <option value="open" {{#if open}}selected{{/if}}>Open Response</option>
        </select>
      </div>

      <label for="weight" class="col-sm-2 col-form-label">Weight</label>
      <div class="col-sm-2 weight-container">
        <input class="form-control" name="weight" type="number" min="1" value="{{weight}}" placeholder="1">
      </div>

    </div>
    <input class="weight-hidden" name="weight" type="hidden" value="null">

    <div class="mc-choices-container form-group row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-10">
        <label for="choices"><small>Separate choices with a line break.</small></label>
        <textarea class="form-control" name="choices" cols="40" rows="6">{{#each choices}}{{this}}&#013;{{/each}}</textarea>
      </div>
    </div>
    <input class="mc-choices-hidden" name="choices" type="hidden" value="null">

  </li> <!-- /.question -->

</div> <!-- /.question-wrapper -->
