<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ENG100D</title>
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
 <!-- Bootstrap 4.1 JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <!-- jQuery UI -->
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>


      <!-- main.js -->
      <script type="text/javascript" src="js/main.js"></script>

    <!-- main.css -->
    <link href="css/main.css" rel="stylesheet" type="text/css">


</head>
<body>
  <header>
      <nav id="home-nav" class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">


        <a class="navbar-brand" href="/"><img class="logo" src="img/live-well-logo.png"/></a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse flex-row-reerse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/assess">Assess <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/markets">Markets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/data">Data</a>
            </li>
          </ul>

         <div class="ml-auto">
          <a role="button" href="/admin" class="btn btn-outline-success">Admin</a>

        </div>

      </div>



      </nav>
    </header>

    {{{body}}}

</body>
</html>
