<div class="container main" style="height: 100%;">

  <h2>Administrator Tools</h2>
  <div class="form-group">
	  <a href="/assess-edit"><button type="button" class="btn btn-primary">Edit Market Assessment</button></a>
	</div>

<script type="text/javascript" src="js/admin.js"></script>
