<div class="container main" style="height: 100%;">
  <div class="admin-login-container d-flex justify-content-center align-items center">
    <div class="admin-login text-center">
      <label><h3>Administrator Login</h3></label>

      <form method="post" action="admin-login">
        <div class="form-group">
          <input type="username" name="username" class="form-control form-control-lg"   placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control form-control-lg" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-block btn-lg btn-success">Sign In</button>
      </form>

    </div>
  </div>
<!--
  <div class="form-group">
	  <a href="/assess-edit"><button type="button" class="btn btn-primary">Edit Market Assessment</button></a>
	</div> -->
</div>

<script type="text/javascript" src="js/admin.js"></script>
