<div class="container main">

<h2>Edit Market Assessment Form</h2>

  <form id="assessment-form" onsubmit="save(); return false;">
    <ol id="question-list-edit" class="sortable">
      {{#each questions}}
        {{#if sectionBreak}}
          {{> sectionBreak}}
        {{/if}}
        {{#unless sectionBreak}}
          {{> question}}
        {{/unless}}
      {{/each}}
    </ol>

    <div class="d-flex" style="margin-top: 2rem;">
      <div>
        <!--<a role="button" class="btn btn-danger" href="/assess">Return</a>-->
        <button type="submit" class="btn btn-success">Save</button>
      </div>
      <div class="ml-auto">
        <button type="button" class="add-question-btn btn btn-secondary " onclick="addSection()">Add Section Break</button>
        <button type="button" class="add-question-btn btn btn-primary " onclick="addQuestion()">Add Question</button>
      </div>
    </div>

 </form>
</div>

<script type="text/javascript" src="js/assess-edit.js"></script>
<script type="text/javascript" src="js/bootstrap-toggle.js"></script>
