<div class="container main">
  <form id="testing-form" onsubmit="submitData(); return false">
    <label> Do Something</label>
    <input name="testing">
    </input>
    <div>
      <button> Submit</button>
    </div>
  </form>
</div>
<div id="results">
</div>
