<div class="container main">
  <form id="testing-form" action="/data" method="POST">
    <label> Do Something</label>
    <input name="testing">
    </input>
    <div>
      <button> Submit</button>
    </div>
  </form>
</div>
