<div class="container main">

  <div class="card">
    <div class="card-body">
      <div class="questionChartContainer">
        
        <form id="question-form" onchange="drawQuestion()">
          <div class="form-group">
            <label for="market-name-dropdown" class="required-input">Viewing data for assessment question:</label>
            <select class="form-control custom-select" id="question-name-dropdown" name="questionTitle" required>
              <option disabled selected value>-- Select a question to show graph --</option>
              <!--options-->
              {{#each questions}}
                <option>{{title}}</option>
              {{/each}}
              </select>
          </div>
        </form>

        <div class="chartContainer">
          <div id="questionChart" style=""></div>
        </div>
      </div>

      <!-- Overall statistics charts -->
      <div class="sideChartContainer">
        <p>Overall Statistics</p>
  
          <div id="levelChart" style=""></div>
     

       
          <div id="typeChart" style=""></div>
       
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="js/data.js"></script>
