<div class="container main">

  <div class="questionChartContainer">
     <div class="form-group">
        <label for="market-name-dropdown" class="required-input">View assessment data for:</label>
        <select class="form-control custom-select" id="market-name-dropdown" name="marketName" required>
          <option disabled selected value>-- Select a question --</option>
          <!--options-->
          <option>NEW MARKET</option>
        </select>
      </div>
    
    <div id="questionChart" style=""></div>
  </div>

  <div class="sideChartContainer">
    <div class="chartContainer">
      <div id="levelChart" style=""></div>
    </div>

    <div class="chartContainer">
      <div id="typeChart" style=""></div>
    </div>
  </div>

</div>


<script type="text/javascript" src="js/data.js"></script>
