
<h1>Edit Market Assessment Form</h1>

  <form id="assessment-form" onsubmit="save(); return false;">
    <ol id="question-list" class="sortable list-group">
      {{#each questions}}
        {{> question}}
      {{/each}}
    </ol>

    <div style="margin: 2rem 0;">
      <button type="button" class="add-question-btn btn btn-secondary" onclick="addQuestion()">Add Question</button>
      <button type="submit" class="btn btn-success">Save and Return</button>
    </div>
  </form>


<script type="text/javascript" src="js/edit-form.js"></script>
