<main role="main">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!--
        <img
          class="home-hero"
          src="/img/hero.jpg"
          alt="First slide"
        /> -->
        <div class="home-hero"></div>
        <div class="containe">
          <div class="carousel-caption text-left">
            <h1 class="text-dark">Market Assessment</h1>
            <p class="text-muted">
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
              id elit non mi porta gravida at eget metus. Nullam id dolor id
              nibh ultricies vehicula ut id elit.
            </p>
            <p>
              <a class="btn btn-lg btn-success" href="/assess" role="button">
                Start
              </a>
            </p>
          </div>
        </div> <!-- /.container -->
      </div>
    </div>
  </div>
</main>
