<main role="main">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="home-hero"
          src="https://www.beautycolorcode.com/43464b.png"
          alt="First slide"
        />
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Market Assessment</h1>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
              id elit non mi porta gravida at eget metus. Nullam id dolor id
              nibh ultricies vehicula ut id elit.
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="/assess" role="button">
                Start
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
