@font-face {
  font-family: 'Icons';
  src: url('../fonts/open-iconic/open-iconic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/open-iconic/open-iconic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-iconic/open-iconic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/open-iconic/open-iconic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-iconic/open-iconic.svg#svgFontName') format('svg'); /* Legacy iOS */
}
