
#question-list-edit {
  margin: 0;
  padding: 0;
	counter-reset: question-edit-counter;

  .question-options:not(.section-break):before {
  	content: counter(question-edit-counter);
  	counter-increment: question-edit-counter;
    font-size: 1.4rem;
    margin-right: auto;
  }
  .question-options.section-break:before {
    font-size: 1.4rem;
    content: "Section Break";
    margin-right: auto;
  }
}

.question {
 //list-style-position: inside;
 &.card {
   margin: 1.5rem 0;
 }
 .card-header {
   cursor: move;
 }
}

textarea {
  max-width: 100%;
}

.mc-choices-list {
  list-style: none;
  padding: 0;
}

.question-options {
  .form-group {
    padding-left: 1.4rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.remove-question-btn {
  cursor: pointer;
}

.required {
  cursor: pointer;
}
