#assessment-q-list {
  > li {
    margin: 1.4rem 0;
  }
  //padding-left: 1rem;
  margin: 0 0 4rem;
}

.section-break-title {
  padding-left: 0;
  margin-left: -2.75rem;
}

// Adds red asterisk
#assessment-form {
  .required-input {
    font-weight: bold;
  }
}

.required-input {
	&:after {
		content: " *";
		color: red;
	}
}

.incorrect-passcode {
  @extend .border;
  @extend .border-danger;
  &::placeholder {
    @extend .text-danger;
  }
}

.market-info {
  @include media-breakpoint-only(xs) {
    margin-bottom: 1rem;
  }
}
