
#home-carousel {
  margin-top: $header-height;
  .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    background-color: rgba(255,255,255, 0.9);
    padding: 2.4rem 2rem 2rem;
    border-radius: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
  }
}
.home-hero {
  height: calc(100vh - #{$header-height});
  width: 100%;
  background-color: gray;
  background: url('../img/hero.jpg') no-repeat center center fixed;
  background-size: cover;
}
